<div>
	{{this.burger_name}}

	<button type="submit" class="btn btn-secondary float-right" value={{this.id}}>
	{{#if this.devoured}}Devour it!{{else}}Devoured!{{/if}}
	<i class="fas fa-utensils ml-2"></i></button>
</div>